@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        body {
            /*background-color: #D80018;*/
            background-image: url('../../Youth2017Gaussian40.png');
            /*background-image: url('http://localhost:14344/Youth2017Gaussian30.png');*/
            background-size: cover;
            background-position: center;
            background-color: #F2F2F2;
            font-family: Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,STHeiti,Microsoft YaHei,Wenquanyi Micro Hei,sans-serif;
            font-size: 14px;
        }

        .movie-info-panel {
            background-color: #FFFFFF;
            width: 1280px;
            height: 420px;
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
        }

            .movie-info-panel > .poster {
                background-color: #D80018;
                width: 285px;
                height: 420px;
                background-image: url('https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2507227732.webp');
                background-position: center;
                background-size: cover;
                float: left;
            }

            .movie-info-panel > .info {
                float: left;
                height: 390px;
                width: 655px;
                padding: 0 20px;
            }

                .movie-info-panel > .info > div {
                    margin-bottom: 4px;
                }

                .movie-info-panel > .info > .rating {
                    width: 655px;
                    padding: 10px 0;
                    margin: 10px 0;
                    background-color: #D80018;
                    color: #FFFFFF;
                    /*transform: skewX(-30deg);*/
                }

                    .movie-info-panel > .info > .rating > table {
                        /*transform: skewX(30deg);*/
                        margin-left: 35px;
                        width: 620px;
                    }

            .movie-info-panel > .summary {
                float: left;
                width: 300px;
                height: 420px;
                overflow-y: auto;
                /*overflow-y: scroll;*/
            }
    </style>
</head>
<body>
    <div class="movie-info-panel">
        <div class="poster"></div>
        <div class="info">
            <div style="font-size: 2.2em; font-weight: bold;">芳华</div>
            <div style="font-size: 1.4em;"><span>Youth</span><span>2017</span></div>
            <div class="rating">
                <table>
                    <tr>
                        <td style="width:80px; font-size: 2.2em; font-weight: bold; font-family: Georgia,serif;" rowspan="2">7.8</td>
                        <td>★★★★☆</td>
                    </tr>
                    <tr>
                        <td>280208人评价</td>
                    </tr>
                </table>
            </div>
            <div>导演: 冯小刚</div>
            <div>编剧: 严歌苓</div>
            <div>主演: 黄轩 / 苗苗 / 钟楚曦 / 杨采钰 / 李晓峰 / 王天辰 / 王可如 / 隋源 / 张仁博 / 苏岩 / 张国立 / 赵立新</div>
            <div>类型: 冯小刚</div>
            <div>类型: 剧情 / 历史 / 战争</div>
            <div>制片国家/地区: 中国大陆</div>
            <div>语言: 汉语普通话</div>
            <div>上映日期: 2017-12-15(中国大陆) / 2017-09-07(多伦多电影节)</div>
            <div>片长: 136分钟 / 146分钟(多伦多电影节)</div>
            <div>又名: Youth</div>
            <div>IMDb链接: tt6654316</div>
        </div>
        <div class="summary">
            <p>简介</p>
            <p>　　根据严歌苓同名小说改编，讲述了上世纪七十到八十年代充满理想和激情的军队文工团，一群正值芳华的青春少年，经历着成长中的爱情萌发与充斥变数的人生命运。乐于助人、质朴善良的刘峰（黄轩 饰），和从农村来，屡遭文工团女兵歧视与排斥的何小萍（苗苗 饰），“意外”离开了浪漫安逸的文工团，卷入了残酷的战争，在战场上继续绽放着血染的芳华。他们感受着集体生活的痛与暖、故人的分别与重逢，还有时代变革之下，每个人的渺小脆弱和无力招架。而昔日的文工团战友萧穗子（钟楚曦 饰）、林丁丁（杨采钰 饰）、郝淑雯（李晓峰 饰）、陈灿（王天辰 饰）等人，在大时代的背景之下，每个人的命运大相径庭，拥有着出人意料的人生归宿……从来不需要想起，永远也不会忘记。</p>
        </div>
    </div>
</body>
</html>
