@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LanhuMedia</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            line-height: 1
        }

        li {
            list-style: none;
        }

        a {
            color: #333;
            text-decoration: none;
        }

        .media {
            width: 100%;
            background: #F9FAFC;
            height: 34.1rem;
            position: absolute;
            top: 50%;
            margin-top: -17em;
            box-sizing: border-box;
        }

            .media ul {
                width: 1180px;
                margin: 0 auto;
            }

            .media li {
                float: left;
                width: 220px;
                position: relative;
                left: 0;
                top: 0;
                background: white;
                border-radius: 4px;
                overflow: hidden;
                color: #5C5C5C;
                font-family: PingFangSC-Regular,"PingFang SC", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Source Han Sans", "Noto Sans CJK Sc", "Microsoft YaHei", "Microsoft Jhenghei", sans-serif;
                height: 300px;
                margin-right: 20px;
                transition: all ease 300ms;
            }

                .media li:last-child {
                    margin-right: 0;
                }

                .media li .media_con {
                    padding-top: 62px;
                    position: relative;
                    left: 0;
                    top: 0;
                    height: 100%;
                    z-index: 1;
                    box-sizing: border-box;
                }

                .media li a {
                    text-decoration: none;
                    color: #5C5C5C;
                }

                .media li.on {
                    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .3);
                    top: -10px;
                    color: white;
                }

                .media li .text {
                    font-size: 14px;
                    color: #5C5C5C;
                    line-height: 20px;
                    padding-top: 50px;
                    text-align: center;
                    width: 210px;
                    margin: 0 auto;
                }

                .media li.on .text {
                    color: white;
                }

                .media li.on .detail_btn {
                    transition: all ease 200ms;
                    opacity: 1;
                }

                .media li .name {
                    width: 160px;
                    height: 46px;
                    margin: 0 auto;
                }

                .media li.on a {
                    color: white;
                }

                .media li .detail_btn {
                    text-align: center;
                    font-size: 14px;
                    position: absolute;
                    left: 0;
                    bottom: 14px;
                    width: 100%;
                    opacity: 0;
                }

        .tai {
            background: url('https://www.lanhuapp.com/img/2.0/tai.png') left top no-repeat;
            background-size: 100%;
        }

        .greek {
            background: url('https://www.lanhuapp.com/img/2.0/greek.png') left top no-repeat;
            background-size: 100%;
        }

        .ke {
            background: url('https://www.lanhuapp.com/img/2.0/ke.png') left top no-repeat;
            background-size: 100%;
        }

        .tech {
            background: url('https://www.lanhuapp.com/img/2.0/tech.png') left top no-repeat;
            background-size: 100%;
        }

        .lieyun {
            background: url('https://www.lanhuapp.com/img/2.0/lieyun.png') left top no-repeat;
            background-size: 100%;
        }

        .media_bar {
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            height: 10px;
            transition: all ease 300ms;
        }

        .black {
            background: #231916;
        }

        .red {
            background: #FF3A00;
        }

        .blue_light {
            background: #009FED;
        }

        .blue {
            background: #3E7DE7;
        }

        .blue_dark {
            background: #3E88CA;
        }

        .media li.on .media_bar {
            height: 100%;
        }

        .media li.on .tai {
            background: url('https://www.lanhuapp.com/img/2.0/tai_white.png') left top no-repeat;
            background-size: 100%;
        }

        .media li.on .greek {
            background: url('https://www.lanhuapp.com/img/2.0/greek_white.png') left top no-repeat;
            background-size: 100%;
        }

        .media li.on .ke {
            background: url('https://www.lanhuapp.com/img/2.0/ke_white.png') left top no-repeat;
            background-size: 100%;
        }

        .media li.on .tech {
            background: url('https://www.lanhuapp.com/img/2.0/tech_white.png') left top no-repeat;
            background-size: 100%;
        }

        .media li.on .lieyun {
            background: url('https://www.lanhuapp.com/img/2.0/lieyun_white.png') left top no-repeat;
            background-size: 100%;
        }
    </style>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script>
        $(document).ready(function () {

            $('li').mouseover(function () {
                console.log('mouseenter')
                $(this).addClass('on');
            })
            $('li').mouseout(function () {
                console.log('mouseenter')
                $(this).removeClass('on');
            })
            $('li').on('mouseenter', function () {
                console.log('mouseenter')
                $(this).addClass('on');
            })
            $('li').on('mouseleave', function () {
                console.log('mouseenter')
                $(this).removeClass('on');
            })
        });
    </script>
</head>
<body>
    <div class="media">
        <ul class="clearfix">
            <li class="">
                <div class="media_bar black"></div>
                <div class="media_con">
                    <div class="tai name"></div>
                    <p class="text">设计师“笑面”产品经理的 新需求，你们之间需要这个润滑剂</p>
                    <div class="detail_btn"><a href="http://www.tmtpost.com/2588460.html" target="_blank">查看详情</a></div>
                </div>
            </li>
            <li class="">
                <div class="media_bar blue_light"></div>
                <div class="media_con">
                    <div class="greek name"></div>
                    <p class="text">原来，中国的设计师 一直缺一个像样的协同工具</p>
                    <div class="detail_btn"><a href="http://www.geekpark.net/topics/219875" target="_blank">查看详情</a></div>
                </div>
            </li>
            <li class="">
                <div class="media_bar blue"></div>
                <div class="media_con">
                    <div class="ke name"></div>
                    <p class="text">“蓝湖”入驻 Tower， 产品设计协作领域多了新玩家</p>
                    <div class="detail_btn"><a href="http://36kr.com/p/5064988.html" target="_blank">查看详情</a></div>
                </div>
            </li>
            <li class="">
                <div class="media_bar red"></div>
                <div class="media_con">
                    <div class="tech name"></div>
                    <p class="text">蓝湖：Sketch 和 Photoshop 设计图的“自动标注”被这款设计 协作工具“解锁”了／创业</p>
                    <div class="detail_btn"><a href="http://cn.technode.com/post/2017-06-07/lanhu/" target="_blank">查看详情</a></div>
                </div>
            </li>
            <li class="">
                <div class="media_bar blue_dark"></div>
                <div class="media_con">
                    <div class="lieyun name"></div>
                    <p class="text">“蓝湖”牵手 Tower 重新定义产品设计协作方式</p>
                    <div class="detail_btn"><a href="http://m.lieyunwang.com/archives/287402?from=singlemessage" target="_blank">查看详情</a></div>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>
