
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NavigateBar</title>
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <style>
        .navigate-bar {
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 0px;
        }

            .navigate-bar > li {
                padding: 15px;
                width: 80px;
                height: 40px;
                display: inline-block;
                border: 1px solid black;
                font-size: 14px;
                line-height: 40px;
                text-align: center;
                overflow: hidden;
                position: relative;
            }

                .navigate-bar > li::before {
                    content: '';
                    position: absolute;
                    background: rgba(0,0,0,0.8);
                    left: -100%;
                    bottom: 0;
                    height: 10px;
                    width: 100%;
                }

                .navigate-bar > li.leftin::before {
                    animation: leftin 0.2s linear;
                    left: 0;
                }

                .navigate-bar > li.rightout::before {
                    animation: rightout 0.2s linear;
                    left: 100%;
                }

                .navigate-bar > li.rightin::before {
                    animation: rightin 0.2s linear;
                    left: 0;
                }

                .navigate-bar > li.leftout::before {
                    animation: leftout 0.2s linear;
                    left: -100%;
                }

        @@keyframes leftin {
            from {
                left: -100%;
            }

            to {
                left: 0;
            }
        }

        @@keyframes rightout {
            from {
                left: 0;
            }

            to {
                left: 100%;
            }
        }

        @@keyframes rightin {
            from {
                left: 100%;
            }

            to {
                left: 0;
            }
        }

        @@keyframes leftout {
            from {
                left: 0;
            }

            to {
                left: -100%;
            }
        }
    </style>
    <script>
        $(document).ready(function () {
            $('.navigate-bar>li').on('mouseenter', function (event) {
                var x = event.pageX - this.offsetLeft;//(得到鼠标在框中的坐标)
                var y = event.pageY - this.offsetTop;//(得到鼠标在框中的坐标)
                var H = this.clientHeight;
                var W = this.clientWidth;

                if (x * 1 < H / 2) {
                    $(this).removeClass('rightin');
                    $(this).removeClass('rightout');
                    $(this).addClass('leftin');
                    $(this).removeClass('leftout');
                }
                else {
                    $(this).addClass('rightin');
                    $(this).removeClass('rightout');
                    $(this).removeClass('leftin');
                    $(this).removeClass('leftout');
                }
            });
            $('.navigate-bar>li').on('mouseout', function (e) {
                var x = event.pageX - this.offsetLeft;//(得到鼠标在框中的坐标)
                var y = event.pageY - this.offsetTop;//(得到鼠标在框中的坐标)
                var H = this.clientHeight;
                var W = this.clientWidth;
                if (x * 1 > H / 2) {
                    $(this).removeClass('rightin');
                    $(this).addClass('rightout');
                    $(this).removeClass('leftin');
                    $(this).removeClass('leftout');
                }
                else {
                    $(this).removeClass('rightin');
                    $(this).removeClass('rightout');
                    $(this).removeClass('leftin');
                    $(this).addClass('leftout');
                }
            });
            $('.navigate-bar>li:last-child').on('mouseout', function (e) {
                var x = event.pageX - this.offsetLeft;//(得到鼠标在框中的坐标)
                var y = event.pageY - this.offsetTop;//(得到鼠标在框中的坐标)
                var H = this.clientHeight;
                var W = this.clientWidth;
                if (x * 1 > H / 2) {
                    $(this).siblings().removeClass('rightin');
                    $(this).siblings().removeClass('rightout');
                    $(this).siblings().removeClass('leftin');
                    $(this).siblings().removeClass('leftout');
                }
            });
            $('.navigate-bar>li:first-child').on('mouseout', function (e) {
                var x = event.pageX - this.offsetLeft;//(得到鼠标在框中的坐标)
                var y = event.pageY - this.offsetTop;//(得到鼠标在框中的坐标)
                var H = this.clientHeight;
                var W = this.clientWidth;
                if (x * 1 < H / 2) {
                    $(this).siblings().removeClass('rightin');
                    $(this).siblings().removeClass('rightout');
                    $(this).siblings().removeClass('leftin');
                    $(this).siblings().removeClass('leftout');
                }
            });
        });
    </script>
</head>
<body>
    <ul class="navigate-bar">
        <li>首页</li>
        <li>发现</li>
        <li>发现</li>
        <li>发现</li>
        <li>发现</li>
        <li>发现</li>
        <li>发现</li>
        <li>话题</li>
    </ul>
</body>
</html>
