
@{
    ViewBag.Title = "GaussianBlur";
}

<div class="row">
    <div class="col-xs-3">
        <img src="~/@ViewBag.FilePath" />
    </div>
    <div class="col-xs-3">
        <img src="~/@ViewBag.GaussianBlur30" />
    </div>
    <div class="col-xs-3">
        <img src="~/@ViewBag.GaussianBlur40" />
    </div>
    <div class="col-xs-3">
        <img src="~/@ViewBag.GaussianBlur50" />
    </div>
</div>

