<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="Log.txt" />
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="多线程调用串行公共方法Console" minlevel="Info" writeTo="logconsole" />
    <logger name="多线程调用串行公共方法File" minlevel="Debug" writeTo="logfile" />
  </rules>

</nlog>